{%extends 'base.html'%}
{% block title %} Contact us {% endblock title %}
{%block body%}

<div class="container-fluid, mx-0">
    <img src=" /static/images/phone2.jpg">
    <h1 style="position: absolute; top: 200px; left:200px; color:aliceblue;"> Contact Us</h1>
</div>

<h2 style="position: absolute; left:auto; right:auto; color:black ;"> Write Us</h1> <br> <br>

<div class="container mb-30, py-20">



        <form method="post" action="/contact">
        {%csrf_token%}    

            <div class="form-group">
                <label for="name">Your Name</label>
                <input type="name" class="form-control" id="name" name="name" placeholder="Enter Your Name">
            </div>

            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email">
            </div>
            <div class="form-group">
                <label for="phone">Phone Number</label>
                <input type="phone" class="form-control" id="phone" name="phone" placeholder="Enter Your phone number">
            </div>
            
            
            <div class="form-group">
                <label for="desc">Message</label>
                <textarea class="form-control" id="desc" name="desc"  placeholder="Enter Your Message"rows="3"></textarea>
            </div>
            <button class="btn btn-primary" type="submit" > Submit </button>


        </form>


</div>


{%endblock body%}